.listado1{
    margin-left: 100px;
    list-style-type: none;
    text-align: left;
}
.tituloListado1{
    float:left;
}
.listado2{
   margin-left: 450px;
    list-style-type: none;
    text-align: left;
}
.listado3{
    margin-left: 800px;
    list-style-type: none;
    text-align: left;
}
.listado4{
        margin-left: 1125px;
    list-style-type: none;
    text-align: left;
}

