.navegacion1{
    display: inline;
    float: left;
    margin-right: 30px;
    margin-left: 30px;
}
.navegacion2{
    display: inline;
    float: left;
    margin-right: 30px;

}
.navegacion3{
    display: inline;
    float: left;
    margin-right: 30px;

}
.navegacion4{
    display: inline;
    float: left;
    margin-right: 30px;

}
.navegacion5{
    display: inline;
    float: left;
    margin-right: 30px;

}
.navegacion6{
    display: inline;
    float: left;
    margin-right: 30px;

}

.logo{
    width: 175px;
    height: 100px;
}

